Nguyen_Huy_Nghia_2019608086/CODE/web/node-red/flows (1).json
[
    {
        "id": "5e553b20fcb22a73",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e518b93a0a1da5d6",
        "type": "ui_form",
        "z": "5e553b20fcb22a73",
        "name": "",
        "label": "",
        "group": "bf13ce3b0e54de03",
        "order": 17,
        "width": 4,
        "height": 1,
        "options": [
            {
                "label": "Nhập tần số",
                "value": "tanso",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "tanso": ""
        },
        "payload": "",
        "submit": "Cài đặt",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 450,
        "y": 440,
        "wires": [
            [
                "5cdde64c4dc1a7c6"
            ]
        ]
    },
    {
        "id": "5cdde64c4dc1a7c6",
        "type": "function",
        "z": "5e553b20fcb22a73",
        "name": "",
        "func": "\nmsg.payload = (parseFloat(msg.payload.tanso) * 100).toString() + \"C\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 440,
        "wires": [
            [
                "2ab06ea9e10002c1"
            ]
        ]
    },
    {
        "id": "2ab06ea9e10002c1",
        "type": "mqtt out",
        "z": "5e553b20fcb22a73",
        "name": "",
        "topic": "huynghia/controlTB",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c43ff3b6caac9cc4",
        "x": 950,
        "y": 440,
        "wires": []
    },
    {
        "id": "c412c0b234c1bb32",
        "type": "ui_gauge",
        "z": "5e553b20fcb22a73",
        "name": "",
        "group": "b7bf5aeca9648f7b",
        "order": 3,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Nhiệt độ môi trường",
        "label": "độ C",
        "format": "{{msg.payload.nhietdo| number: 2}}",
        "min": "-40",
        "max": "125",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1700,
        "y": 520,
        "wires": []
    },
    {
        "id": "220e89f06e38f61c",
        "type": "ui_gauge",
        "z": "5e553b20fcb22a73",
        "name": "",
        "group": "b7bf5aeca9648f7b",
        "order": 1,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Độ ẩm môi trường",
        "label": "%",
        "format": "{{msg.payload.doammoitruong| number: 2}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1691.2499828338623,
        "y": 587.499963760376,
        "wires": [],
        "inputLabels": [
            "Hello1"
        ]
    },
    {
        "id": "a286473093711ac8",
        "type": "ui_gauge",
        "z": "5e553b20fcb22a73",
        "name": "",
        "group": "b7bf5aeca9648f7b",
        "order": 7,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Độ ẩm đất",
        "label": "%",
        "format": "{{msg.payload.doamdat}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1670,
        "y": 740,
        "wires": []
    },
    {
        "id": "a2a331b7f46f5bb2",
        "type": "ui_gauge",
        "z": "5e553b20fcb22a73",
        "name": "",
        "group": "b7bf5aeca9648f7b",
        "order": 5,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Ánh sáng",
        "label": "%",
        "format": "{{msg.payload.dosang}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1660,
        "y": 660,
        "wires": []
    },
    {
        "id": "e28d7c0a823f36b5",
        "type": "mqtt in",
        "z": "5e553b20fcb22a73",
        "name": "",
        "topic": "ngochatphac/inforMoitruong",
        "qos": "2",
        "datatype": "json",
        "broker": "02770b460b435349",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1300,
        "y": 620,
        "wires": [
            [
                "220e89f06e38f61c",
                "a286473093711ac8",
                "a2a331b7f46f5bb2",
                "c412c0b234c1bb32"
            ]
        ]
    },
    {
        "id": "c58ddd2dae688e61",
        "type": "ui_button",
        "z": "5e553b20fcb22a73",
        "name": "",
        "group": "b7bf5aeca9648f7b",
        "order": 33,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Set Auto",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "11",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1260,
        "y": 1040,
        "wires": [
            [
                "650a12a84ef8e6f5"
            ]
        ]
    },
    {
        "id": "650a12a84ef8e6f5",
        "type": "mqtt out",
        "z": "5e553b20fcb22a73",
        "name": "",
        "topic": "ngochatphac/controlThietBi",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "02770b460b435349",
        "x": 1640,
        "y": 1260,
        "wires": []
    },
    {
        "id": "e4e0ab32db85cb32",
        "type": "ui_button",
        "z": "5e553b20fcb22a73",
        "name": "",
        "group": "b7bf5aeca9648f7b",
        "order": 34,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Set Man",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "10",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1260,
        "y": 1100,
        "wires": [
            [
                "650a12a84ef8e6f5"
            ]
        ]
    },
    {
        "id": "5289ea3fbe3dec64",
        "type": "ui_button",
        "z": "5e553b20fcb22a73",
        "name": "",
        "group": "b7bf5aeca9648f7b",
        "order": 42,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Bật Quạt",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "41",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1260,
        "y": 1200,
        "wires": [
            [
                "650a12a84ef8e6f5"
            ]
        ]
    },
    {
        "id": "7b3f3a7c54d5a752",
        "type": "ui_button",
        "z": "5e553b20fcb22a73",
        "name": "",
        "group": "b7bf5aeca9648f7b",
        "order": 43,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Tắt Quạt",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "40",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1260,
        "y": 1260,
        "wires": [
            [
                "650a12a84ef8e6f5"
            ]
        ]
    },
    {
        "id": "050d52469c6244e1",
        "type": "ui_button",
        "z": "5e553b20fcb22a73",
        "name": "",
        "group": "b7bf5aeca9648f7b",
        "order": 36,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Bật Đèn",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "21",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1260,
        "y": 1340,
        "wires": [
            [
                "650a12a84ef8e6f5"
            ]
        ]
    },
    {
        "id": "58abc555077af47f",
        "type": "ui_button",
        "z": "5e553b20fcb22a73",
        "name": "",
        "group": "b7bf5aeca9648f7b",
        "order": 37,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Tắt Đèn",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "20",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1260,
        "y": 1400,
        "wires": [
            [
                "650a12a84ef8e6f5"
            ]
        ]
    },
    {
        "id": "7a9840546a6b1b70",
        "type": "ui_button",
        "z": "5e553b20fcb22a73",
        "name": "",
        "group": "b7bf5aeca9648f7b",
        "order": 39,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Bật Bơm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "31",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1260,
        "y": 1500,
        "wires": [
            [
                "650a12a84ef8e6f5"
            ]
        ]
    },
    {
        "id": "914fcc58946850d4",
        "type": "ui_button",
        "z": "5e553b20fcb22a73",
        "name": "",
        "group": "b7bf5aeca9648f7b",
        "order": 40,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Tắt Bơm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "30",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1260,
        "y": 1560,
        "wires": [
            [
                "650a12a84ef8e6f5"
            ]
        ]
    },
    {
        "id": "bd986aa496201335",
        "type": "mqtt out",
        "z": "5e553b20fcb22a73",
        "name": "",
        "topic": "ngochatphac/nguongMoiTruong",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "02770b460b435349",
        "x": 2250,
        "y": 940,
        "wires": []
    },
    {
        "id": "78e9269d08137021",
        "type": "ui_form",
        "z": "5e553b20fcb22a73",
        "name": "",
        "label": "Ngưỡng Nhiệt Độ",
        "group": "b7bf5aeca9648f7b",
        "order": 46,
        "width": 9,
        "height": 1,
        "options": [
            {
                "label": "Ngưỡng Nhiệt Độ",
                "value": "nhietdo",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "nhietdo": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 1710,
        "y": 880,
        "wires": [
            [
                "e13998706338efb3"
            ]
        ]
    },
    {
        "id": "7def7269fd169c6e",
        "type": "debug",
        "z": "5e553b20fcb22a73",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2310,
        "y": 1080,
        "wires": []
    },
    {
        "id": "e13998706338efb3",
        "type": "function",
        "z": "5e553b20fcb22a73",
        "name": "",
        "func": "\nmsg.payload =msg.payload.nhietdo + \"A\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1940,
        "y": 880,
        "wires": [
            [
                "bd986aa496201335"
            ]
        ]
    },
    {
        "id": "39aed953ce2d15b4",
        "type": "function",
        "z": "5e553b20fcb22a73",
        "name": "",
        "func": "\nmsg.payload =msg.payload.doamdat + \"B\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1940,
        "y": 940,
        "wires": [
            [
                "bd986aa496201335"
            ]
        ]
    },
    {
        "id": "0d0ce4617a2ecf73",
        "type": "function",
        "z": "5e553b20fcb22a73",
        "name": "",
        "func": "\nmsg.payload =msg.payload.anhsang + \"C\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1940,
        "y": 1000,
        "wires": [
            [
                "bd986aa496201335"
            ]
        ]
    },
    {
        "id": "db47fea903f8919a",
        "type": "ui_form",
        "z": "5e553b20fcb22a73",
        "name": "",
        "label": "Ngưỡng Độ Ẩm Đất",
        "group": "b7bf5aeca9648f7b",
        "order": 50,
        "width": 9,
        "height": 1,
        "options": [
            {
                "label": "Ngưỡng Độ Ẩm Đất",
                "value": "doamdat",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "doamdat": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 1720,
        "y": 940,
        "wires": [
            [
                "39aed953ce2d15b4"
            ]
        ]
    },
    {
        "id": "79ed820c282e6a18",
        "type": "ui_form",
        "z": "5e553b20fcb22a73",
        "name": "",
        "label": "Ngưỡng Ánh Sáng",
        "group": "b7bf5aeca9648f7b",
        "order": 54,
        "width": 9,
        "height": 1,
        "options": [
            {
                "label": "Ngưỡng Ánh Sáng",
                "value": "anhsang",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "anhsang": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 1710,
        "y": 1000,
        "wires": [
            [
                "0d0ce4617a2ecf73"
            ]
        ]
    },
    {
        "id": "616f107cfd431e98",
        "type": "ui_text",
        "z": "5e553b20fcb22a73",
        "group": "b7bf5aeca9648f7b",
        "order": 24,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Chế độ:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2080,
        "y": 1780,
        "wires": []
    },
    {
        "id": "a03af6c99096315b",
        "type": "mqtt in",
        "z": "5e553b20fcb22a73",
        "name": "",
        "topic": "ngochatphac/inforThietBi",
        "qos": "2",
        "datatype": "json",
        "broker": "02770b460b435349",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1530,
        "y": 1780,
        "wires": [
            [
                "9067f9bdf1a2cf6f"
            ]
        ]
    },
    {
        "id": "9067f9bdf1a2cf6f",
        "type": "function",
        "z": "5e553b20fcb22a73",
        "name": "",
        "func": "\nif(msg.payload.mode == 1)\n{\n    msg.payload = \"MODE AUTO\";\n    return msg\n}\nelse\n{\n    msg.payload = \"MODE MAN\";\n    return msg \n}\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 1780,
        "wires": [
            [
                "616f107cfd431e98"
            ]
        ]
    },
    {
        "id": "c7d7dc6e480b599f",
        "type": "ui_text",
        "z": "5e553b20fcb22a73",
        "group": "b7bf5aeca9648f7b",
        "order": 30,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Trạng thái quạt:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2100,
        "y": 1860,
        "wires": []
    },
    {
        "id": "12b0ca9e6e073918",
        "type": "mqtt in",
        "z": "5e553b20fcb22a73",
        "name": "",
        "topic": "ngochatphac/inforThietBi",
        "qos": "2",
        "datatype": "json",
        "broker": "02770b460b435349",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1530,
        "y": 1860,
        "wires": [
            [
                "e7c7d7a794519155"
            ]
        ]
    },
    {
        "id": "e7c7d7a794519155",
        "type": "function",
        "z": "5e553b20fcb22a73",
        "name": "",
        "func": "\nif(msg.payload.quat == 1)\n{\n    msg.payload = \"Quạt Bật\";\n    return msg\n}\nelse\n{\n    msg.payload = \"Quạt tắt\";\n    return msg \n}\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 1860,
        "wires": [
            [
                "c7d7dc6e480b599f"
            ]
        ]
    },
    {
        "id": "42606882df5c8716",
        "type": "ui_text",
        "z": "5e553b20fcb22a73",
        "group": "b7bf5aeca9648f7b",
        "order": 26,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Trạng thái đèn:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2100,
        "y": 1940,
        "wires": []
    },
    {
        "id": "92543e8355dfb9c7",
        "type": "mqtt in",
        "z": "5e553b20fcb22a73",
        "name": "",
        "topic": "ngochatphac/inforThietBi",
        "qos": "2",
        "datatype": "json",
        "broker": "02770b460b435349",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1530,
        "y": 1940,
        "wires": [
            [
                "c2353ff3707d979b"
            ]
        ]
    },
    {
        "id": "c2353ff3707d979b",
        "type": "function",
        "z": "5e553b20fcb22a73",
        "name": "",
        "func": "if(msg.payload.den == 1)\n{\n    msg.payload = \"Đèn Bật\";\n    return msg\n}\nelse\n{\n    msg.payload = \"Đèn tắt\";\n    return msg \n}\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 1940,
        "wires": [
            [
                "42606882df5c8716"
            ]
        ]
    },
    {
        "id": "f56d9ba196eab93d",
        "type": "ui_text",
        "z": "5e553b20fcb22a73",
        "group": "b7bf5aeca9648f7b",
        "order": 28,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Trạng thái bơm:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2100,
        "y": 2020,
        "wires": []
    },
    {
        "id": "6487db1efb779b57",
        "type": "mqtt in",
        "z": "5e553b20fcb22a73",
        "name": "",
        "topic": "ngochatphac/inforThietBi",
        "qos": "2",
        "datatype": "json",
        "broker": "02770b460b435349",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1530,
        "y": 2020,
        "wires": [
            [
                "fcc569a443f4e4a6"
            ]
        ]
    },
    {
        "id": "fcc569a443f4e4a6",
        "type": "function",
        "z": "5e553b20fcb22a73",
        "name": "",
        "func": "if(msg.payload.bom == 1)\n{\n    msg.payload = \"Bơm Bật\";\n    return msg\n}\nelse\n{\n    msg.payload = \"Bơm tắt\";\n    return msg \n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 2020,
        "wires": [
            [
                "f56d9ba196eab93d"
            ]
        ]
    },
    {
        "id": "a2bb3eb6d732442f",
        "type": "ui_text",
        "z": "5e553b20fcb22a73",
        "group": "b7bf5aeca9648f7b",
        "order": 48,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Ngưỡng nhiệt độ:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2110,
        "y": 2100,
        "wires": []
    },
    {
        "id": "8fa3fb92baf5a837",
        "type": "function",
        "z": "5e553b20fcb22a73",
        "name": "",
        "func": "\nif(msg.payload.mode == 1)\n{\n    msg.payload = \"MODE AUTO\";\n    return msg\n}\nelse\n{\n    msg.payload = \"MODE MAN\";\n    return msg \n}\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 2100,
        "wires": [
            [
                "a2bb3eb6d732442f"
            ]
        ]
    },
    {
        "id": "49dfea821f081690",
        "type": "ui_text",
        "z": "5e553b20fcb22a73",
        "group": "b7bf5aeca9648f7b",
        "order": 52,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Ngưỡng độ ẩm đất:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2110,
        "y": 2180,
        "wires": []
    },
    {
        "id": "412ce95d2277305a",
        "type": "mqtt in",
        "z": "5e553b20fcb22a73",
        "name": "",
        "topic": "ngochatphac/inforThietBi",
        "qos": "2",
        "datatype": "json",
        "broker": "02770b460b435349",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1530,
        "y": 2180,
        "wires": [
            [
                "c03035a8b489895d"
            ]
        ]
    },
    {
        "id": "c03035a8b489895d",
        "type": "function",
        "z": "5e553b20fcb22a73",
        "name": "",
        "func": "\nif(msg.payload.mode == 1)\n{\n    msg.payload = \"MODE AUTO\";\n    return msg\n}\nelse\n{\n    msg.payload = \"MODE MAN\";\n    return msg \n}\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 2180,
        "wires": [
            [
                "49dfea821f081690"
            ]
        ]
    },
    {
        "id": "7bf197d48e7d5b05",
        "type": "mqtt in",
        "z": "5e553b20fcb22a73",
        "name": "",
        "topic": "ngochatphac/inforThietBi",
        "qos": "2",
        "datatype": "json",
        "broker": "02770b460b435349",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1530,
        "y": 2100,
        "wires": [
            [
                "8fa3fb92baf5a837"
            ]
        ]
    },
    {
        "id": "1cdc059b170db754",
        "type": "ui_text",
        "z": "5e553b20fcb22a73",
        "group": "b7bf5aeca9648f7b",
        "order": 56,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Ngưỡng ánh sáng:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2110,
        "y": 2280,
        "wires": []
    },
    {
        "id": "5fee572eb1665bc3",
        "type": "mqtt in",
        "z": "5e553b20fcb22a73",
        "name": "",
        "topic": "ngochatphac/inforThietBi",
        "qos": "2",
        "datatype": "json",
        "broker": "02770b460b435349",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1530,
        "y": 2280,
        "wires": [
            [
                "53fcb01290b4b2d3"
            ]
        ]
    },
    {
        "id": "53fcb01290b4b2d3",
        "type": "function",
        "z": "5e553b20fcb22a73",
        "name": "",
        "func": "\nif(msg.payload.mode == 1)\n{\n    msg.payload = \"MODE AUTO\";\n    return msg\n}\nelse\n{\n    msg.payload = \"MODE MAN\";\n    return msg \n}\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 2280,
        "wires": [
            [
                "1cdc059b170db754"
            ]
        ]
    },
    {
        "id": "3b0aaf54e85a8d94",
        "type": "ui_button",
        "z": "5e553b20fcb22a73",
        "name": "",
        "group": "bf13ce3b0e54de03",
        "order": 19,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Quay Thuận",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "4",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 470,
        "y": 540,
        "wires": [
            [
                "0efdab948f18bdad"
            ]
        ]
    },
    {
        "id": "6d4242114fe55f45",
        "type": "ui_button",
        "z": "5e553b20fcb22a73",
        "name": "",
        "group": "bf13ce3b0e54de03",
        "order": 20,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Quay Ngược",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 470,
        "y": 600,
        "wires": [
            [
                "0efdab948f18bdad"
            ]
        ]
    },
    {
        "id": "4aa824f4ab252d8d",
        "type": "ui_gauge",
        "z": "5e553b20fcb22a73",
        "name": "",
        "group": "bf13ce3b0e54de03",
        "order": 3,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Tần số",
        "label": "Hz",
        "format": "{{msg.payload}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 830,
        "y": 900,
        "wires": []
    },
    {
        "id": "8cab37caa43e3bf5",
        "type": "ui_gauge",
        "z": "5e553b20fcb22a73",
        "name": "",
        "group": "bf13ce3b0e54de03",
        "order": 1,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Dòng điện",
        "label": "Amp",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 851.2499828338623,
        "y": 967.499963760376,
        "wires": [],
        "inputLabels": [
            "Hello1"
        ]
    },
    {
        "id": "e4392a387ba5bfb3",
        "type": "ui_gauge",
        "z": "5e553b20fcb22a73",
        "name": "",
        "group": "bf13ce3b0e54de03",
        "order": 5,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Điện áp",
        "label": "Vol",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "220",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 840,
        "y": 1040,
        "wires": []
    },
    {
        "id": "8b6eaf042c5c3665",
        "type": "mqtt in",
        "z": "5e553b20fcb22a73",
        "name": "",
        "topic": "huynghia/inforTB",
        "qos": "2",
        "datatype": "json",
        "broker": "c43ff3b6caac9cc4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 960,
        "wires": [
            [
                "07d11a764909ad1e",
                "6b5a4ec14db88ff8",
                "a4d5ab2c3cb73cca"
            ]
        ]
    },
    {
        "id": "0efdab948f18bdad",
        "type": "function",
        "z": "5e553b20fcb22a73",
        "name": "",
        "func": "\nmsg.payload =msg.payload + \"A\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 540,
        "wires": [
            [
                "2ab06ea9e10002c1"
            ]
        ]
    },
    {
        "id": "07d11a764909ad1e",
        "type": "function",
        "z": "5e553b20fcb22a73",
        "name": "",
        "func": "\nmsg.payload = ((msg.payload.tanso)/100).toString();\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 900,
        "wires": [
            [
                "4aa824f4ab252d8d"
            ]
        ]
    },
    {
        "id": "6b5a4ec14db88ff8",
        "type": "function",
        "z": "5e553b20fcb22a73",
        "name": "",
        "func": "\nmsg.payload = ((msg.payload.dienap)/10).toString();\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1040,
        "wires": [
            [
                "e4392a387ba5bfb3"
            ]
        ]
    },
    {
        "id": "a4d5ab2c3cb73cca",
        "type": "function",
        "z": "5e553b20fcb22a73",
        "name": "",
        "func": "\nmsg.payload = ((msg.payload.dongdien)/100).toString();\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 960,
        "wires": [
            [
                "8cab37caa43e3bf5"
            ]
        ]
    },
    {
        "id": "afd0c45bf49d0666",
        "type": "ui_spacer",
        "z": "5e553b20fcb22a73",
        "name": "spacer",
        "group": "bf13ce3b0e54de03",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "f417f2331407f7db",
        "type": "ui_spacer",
        "z": "5e553b20fcb22a73",
        "name": "spacer",
        "group": "bf13ce3b0e54de03",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "53ef0ab85105e866",
        "type": "ui_spacer",
        "z": "5e553b20fcb22a73",
        "name": "spacer",
        "group": "bf13ce3b0e54de03",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "d06598b4b491dcd0",
        "type": "ui_spacer",
        "z": "5e553b20fcb22a73",
        "name": "spacer",
        "group": "bf13ce3b0e54de03",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "8bc08e8aba5bd5fe",
        "type": "ui_spacer",
        "z": "5e553b20fcb22a73",
        "name": "spacer",
        "group": "bf13ce3b0e54de03",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "f5008b1bd004426a",
        "type": "ui_spacer",
        "z": "5e553b20fcb22a73",
        "name": "spacer",
        "group": "bf13ce3b0e54de03",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "b91fa30782899766",
        "type": "ui_spacer",
        "z": "5e553b20fcb22a73",
        "name": "spacer",
        "group": "bf13ce3b0e54de03",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "fe4153caa053f79c",
        "type": "ui_spacer",
        "z": "5e553b20fcb22a73",
        "name": "spacer",
        "group": "bf13ce3b0e54de03",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "41096ecf38609f09",
        "type": "ui_spacer",
        "z": "5e553b20fcb22a73",
        "name": "spacer",
        "group": "bf13ce3b0e54de03",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "8266fb6f9751fd2f",
        "type": "ui_spacer",
        "z": "5e553b20fcb22a73",
        "name": "spacer",
        "group": "bf13ce3b0e54de03",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "85a2598a3f72bec4",
        "type": "ui_spacer",
        "z": "5e553b20fcb22a73",
        "name": "spacer",
        "group": "bf13ce3b0e54de03",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "d53b7ea6ad058935",
        "type": "ui_spacer",
        "z": "5e553b20fcb22a73",
        "name": "spacer",
        "group": "bf13ce3b0e54de03",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "b5bbc24dc2cd1b33",
        "type": "ui_spacer",
        "z": "5e553b20fcb22a73",
        "name": "spacer",
        "group": "bf13ce3b0e54de03",
        "order": 16,
        "width": 20,
        "height": 1
    },
    {
        "id": "6128cdb2f2601285",
        "type": "ui_spacer",
        "z": "5e553b20fcb22a73",
        "name": "spacer",
        "group": "bf13ce3b0e54de03",
        "order": 18,
        "width": 16,
        "height": 1
    },
    {
        "id": "1aed34549e6e56c1",
        "type": "ui_spacer",
        "z": "5e553b20fcb22a73",
        "name": "spacer",
        "group": "bf13ce3b0e54de03",
        "order": 21,
        "width": 16,
        "height": 1
    },
    {
        "id": "bf13ce3b0e54de03",
        "type": "ui_group",
        "name": "Thiết kế xây dựng hệ thống giám sát và điều khiển động cơ 3 pha sử dụng biến tần và ESP32",
        "tab": "5b4b051a8158a1a9",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c43ff3b6caac9cc4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "5b4b051a8158a1a9",
        "type": "ui_tab",
        "name": "Nguyễn Huy Nghĩa 2019608086",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]